{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
	<ul>
		{% for item in widget.items %}
		      <li>
 		             {{ cms_widget(item) }}
 		      </li>
		{% endfor %}
	</ul>
{% endblock content %}