{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
	<ul>
		{% for item in widget.items %}
		      <li>
		             {% include "VictoireWidgetListingBundle::showItem.html.twig" %}
		      </li>
		{% endfor %}
	</ul>
{% endblock content %}
